<div class="mt-4">
    <div>
      <h3>Danh sách nhạc đã xóa</h3>
      <a href="stored-courses">Danh sách bài</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên bài hát</th>
                <th scope="col">Ca sỹ</th>
                <th scope="col">Video ID</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col" colspan="2">Hành động</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.singername}}</td>
                    <td>{{this.videoId}}</td>
                    <td>{{this.updatedAt}}</td>
                    
                    <td>
                        <button type="button" class="btn btn-primary bg-white btn-restore" data-id="{{this._id}}">
                            <a style="text-decoration: none;" href="" class="btn btn-link" >Khôi phục</a>
                        </button>
                        
                        <button type="button" class="btn btn-primary bg-white" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">
                            <a style="text-decoration: none;" class="btn btn-link"  >Xóa vĩnh viễn</a>
                        </button>
                        
                    </td>
                </tr>
                {{else}}
                  <td colspan="6" class="text-center">
                    Thùng rác trống. 
                  </td>
                
            {{/each}}
        </tbody>
    </table>
</div>


<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Chắc chắn chưa???</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button"  class="btn btn-danger" >Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="delete-course-form"></form>
<form method="post" name="restore-course-form"></form>
<script>

    var courseId;
    var deleteForm=document.forms['delete-course-form'];
    var restoreForm=document.forms['restore-course-form'];
    var btnDeleteCourse= document.getElementById('btn-delete-course')
    var restoreBtn = $('.btn-restore')

    document.addEventListener('DOMContentLoaded', function() {
        //when dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal',function (event){
          var button= $(event.relatedTarget);
          courseId = button.data('id');
        });

        //onClick
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        btnDeleteCourse.onclick= function(){
            deleteForm.action = '/courses/'+courseId+'/force?_method=DELETE';
            deleteForm.submit();
        }
    });


    //onClick
    restoreBtn.click(function (event){
        event.preventDefault();

        var courseId=$(this).data('id')
        restoreForm.action = '/courses/'+courseId+'/restore?_method=PATCH';
        restoreForm.submit();
    })



</script>
